<section>
  <div class="d-flex align-items-center justify-content-around my-4">
    <%= link_to "Back", categories_path, class: "btn btn-secondary" %>
    <h3>New Category</h3>
    <i></i>
  </div>
  <%= form_with model: @category, url: categories_path, method: :post do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>
     <div class="mb-3">
      <%= f.label :icon, class: "form-label" %><br />
      <%= f.url_field :icon, class: "form-control" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit "Create Category", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>